.error {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.error__header {
    text-align: center;
    font-size: 140px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 246px;
    margin-bottom: 0;
}

@media screen and (max-width: 800px) and (min-width: 450px) {
    .error__header {
        margin-top: 408px;
    }
}

@media screen and (max-width: 450px){
    .error__header {
        font-size: 80px;
        margin-top: 329px;
    }
}

.error__text {
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 5px;
    margin-bottom: 184px;
}

@media screen and (max-width: 450px){
    .error__text {
        margin-top: 10px;
        font-size: 12px;
        margin-bottom: 284px;
    }
}

.error__link-back {
    color: #4285F4;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

@media screen and (max-width: 450px){
    .error__link-back {
        font-size: 12px;
    }
}